@import './variables.scss';

html{
    padding: 0;
}
body{
    background-color: $backGroundColor;
    padding: 0;
    margin: 0;
}

hr{
    border: 0px;
    border-bottom: 1px solid $backGroundColor;
}
.authContent{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-color: #f0f0f0;
    height: 100vh;    
    width: 100vw;
    padding: 5px;
}

.authBox{    
    background-color: white;
    box-shadow: 5px 5px 5px 0 #0000001f !important;
    border-radius: 5px;
    .titleDiv{
        width: 100%;
        text-align: center;
    }
    .botton-box{
        padding: 20px;
        display: block;
    }
}
.loginForm{    
    padding: 20px;
    width: 300px;
    
  h3{
    font-family: 'Jost', sans-serif;
    color :#050533 !important;
  }
  a{
    color :#050533 !important;
  }
}
input{
    border-radius: 3px;
    height: 25px;
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    color: orange;
    box-shadow: 5px 5px 5px 0 #0000001f !important;
    border-radius: 5px;
    min-width: 100% !important;
    height: 45px;
    font-size: 16px;
    background-color: #050533;
    padding: 0 0 0 5px;
    margin-top: 5px;
    :focus{    
        border-bottom: 0px !important;
        box-shadow: 0 1px 0 0 #f06252 !important;
      }
}
label{
    color: gray;
}
.class-form{
    margin-bottom: 10px;
}
